{% load static %}
{% load hosts %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Invoice</title>
    <link rel="stylesheet" href="{% static 'css/Invoice.css' %}" media="all"/>
</head>
<body>
<header class="clearfix">
    <div id="logo">
        <img src="{% static 'images/Artista1.ico' %}" alt="logo">
    </div>
    <h1>INVOICE {{ cart.id }}</h1>
    <div id="company" class="clearfix">
        <div>Artista</div>
        <div>455 Foggy Heights,<br/> AZ 85004, US</div>
        <div>(92) 3185061844</div>
        <div><a href="mailto:company@artista.com">company@artista.com</a></div>
    </div>
    <div id="project">
        <div><span>Buyer</span> {{ user.full_name }}</div>
        <div><span>Order Status</span> {{ cart.getStatusValue }}</div>
        <div><span>ADDRESS 1</span> {{ cart.address.address1 }}</div>
        <div><span>ADDRESS 2</span> {{ cart.address.address2 }}</div>
        <div><span>EMAIL</span> <a href="{{ user.email }}">{{ user.email }}</a></div>
        <div><span>DATE</span> {{ cart.getOrderDate }}</div>
        <div><span>Delivery Date</span> {{ cart.getDeliveryDate }}</div>
    </div>
</header>
<main>
    <table>
        <thead>
        <tr>
            <th class="service">Product</th>
            <th class="desc">DESCRIPTION</th>
            <th>PRICE</th>
            <th>SHIPPING</th>
            <th>TOTAL</th>
        </tr>
        </thead>
        <tbody>
        {% for cartItem in cart.getCartItems %}
            <tr>
                <td class="service">{{ cartItem.art.title }}</td>
                <td class="desc">{{ cartItem.art.getShortDescription }}
                </td>
                <td class="unit">${{ cartItem.art.price }}</td>
                <td class="qty">${{ cartItem.art.shipping_fee }}</td>
                <td class="total">${{ cartItem.art.getTotalPrice }}</td>
            </tr>
        {% endfor %}

        <tr>
            <td colspan="4">SUBTOTAL</td>
            <td class="total">${{ cart.getSubTotal }}</td>
        </tr>
        <tr>
            <td colspan="4">TOTAl SHIPPING</td>
            <td class="total">${{ cart.getShippingTotal }}</td>
        </tr>
        <tr>
            <td colspan="4" class="grand total">GRAND TOTAL</td>
            <td class="grand total">${{ cart.getTotalPrice }}</td>
        </tr>
        </tbody>
    </table>
    <div id="notices">
        <div>NOTICE:</div>
        <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
    </div>
</main>
<footer>
    Invoice was created on a computer and is valid without the signature and seal.
</footer>
</body>
</html>